<div class="jumbotron text-center">
  <h2>Peeps!</h2>
  <div class="btn-group" role="group" aria-label="People Groups">
    <button type="button" class="btn btn-default">All</button>
    <button type="button" class="btn btn-default">My Friends</button>
    <button type="button" class="btn btn-default">Requests</button>
    <button type="button" class="btn btn-default">Pending</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render @users %>
  </div>
</div>
